@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

html,
body {
    font-family: "Pixelify Sans", sans-serif;
    font-weight: 300;
}

h1 {
    font-family: "Pixelify Sans", sans-serif;
    font-weight: 500;
    font-size: 52px;
    text-shadow: 2px 2px red;
}

h2 {
    font-family: "Pixelify Sans", sans-serif;
    font-weight: 500;
    font-size: 32px;
    text-shadow: 2px 2px black;
}

h3 {
    font-family: "Pixelify Sans", sans-serif;
    font-weight: 400;
    font-size: 24px;
    text-shadow: 2px 2px black;
}

h4 {
    font-family: "Pixelify Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
}

h5 {
    font-family: "Pixelify Sans", sans-serif;
    font-weight: 200;
}

h5 {
    font-family: "Pixelify Sans", sans-serif;
    font-weight: 200;
}

a:link {
    color: black;
    text-decoration: none
}

a:visited {
    color: darkblue;
}

a:hover {
    color: white;
    text-decoration: underline
}

a:active {
    color: hotpink;
    transition-duration: 0.2s;
}


body {
    color: rgba(255, 255, 255, 0.99);
    text-align: center;
}

img {
    margin-top: 16px;
    margin-left: 8px;
    margin-right: 8px;
    box-shadow: 0px 0px 128px 16px rgba(45, 255, 196, 0.3);
    transition-duration: 0.2s;
}

img:hover {
    /* filter: hue-rotate(90deg); */
    filter: contrast(200%);
    transform: translateY(-12px);
}

button {
    font-family: "Pixelify Sans", sans-serif;
    font-weight: 500;
    font-size: 32px;
    background-color: rgba(255, 125, 180, 1.0);
    width: fit-content;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
    transition-duration: 0.2s;
    box-shadow: 2px 2px black;
    border-style: solid;
    color: white;
}

button:hover
{
    filter: contrast(200%);
    background-color: purple;
}

.poker-table {
    background-color: green;
}



.linkbox {
    background-color: rgba(255, 125, 180, 1.0);
    width: fit-content;
    position: fixed;
    top: 0;
    right: 0;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 5px;
    margin-right: 25px;
    transition-duration: 0.2s;
    box-shadow: 2px 2px black;
    border-style: solid;
    border-width: 2px;
    border-color: black;

}

.linkbox:hover {
    background-color: purple;
    transform: translateY(4px);
}